.background {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100dvh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(54, 54, 54, 0.6);
}

.backgroundConfirm {
    composes: background;
    z-index: 4;
}

.modal {
    position: fixed;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    z-index: 3;
    display: flex;
    flex-direction: column;
    min-width: 144px;
    width: 100%;
    max-width: 300px;
    background-color: #1b1b1b;
    border-radius: 12px;
}

.modalConfirm {
    composes: modal;
    top: 30%;
    z-index: 5;
    width: 240px;
}

.header {
    padding: 8px 12px;
    color: white;
    background-color: rgb(21, 21, 21);
    border-bottom: 1px #323232 solid;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.options {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-block-start: 8px;
}

.button {
    border: none;
    cursor: pointer;
}

.positiveButton {
    composes: button;
    margin-inline-start: auto;
    color: #2378e8;
    background: none;
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover {
        opacity: 0.9;
    }

    &:disabled {
        opacity: 1;
        cursor: not-allowed;
    }
}

.negativeButton {
    composes: button;
    background: none;
    color: #818181;
}

.inputRow {
    display: flex;
    align-items: center;
    gap: 4px;
}

.input {
    height: 24px;
    padding: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: #3b3b3b;
    color: #ededed;
    border: 1px #4a4a4a solid;
}

.inputName {
    composes: input;
    flex: 1;
}

.inputType {
    composes: input;
    padding: 4px 0 4px 2px;
    flex: 1;
}

.inputPeople {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    min-height: 14px;
    width: 14px;
    margin-inline-end: 12px;
    font-size: 14px;
    accent-color: #3b3b3b;
    outline: none;
}

.date {
    font-family: Arial, Helvetica, sans-serif;
}
