.toast {
    position: fixed;
    left: 50%;
    bottom: 16px;
    transform: translate(-50%, 0);
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    width: fit-content;
    max-width: 320px;
    color: #1b1b1b;
    background-color: #ededed;
    border-radius: 12px;
}
