.header {
    display: flex;
    align-items: center;
    margin-block-end: 24px;
}

.monthYear {
    font-size: 24px;
    font-weight: 600;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-inline-start: auto;
}

.navigationButton {
    border: none;
    background-color: #393939;
    height: 24px;
    padding-inline: 8px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;

    &:disabled {
        color: inherit;
    }
}

.arrowIcon {
    display: flex;
    padding: 0;
}

.arrowIconFlipped {
    composes: arrowIcon;
    transform: rotate(180deg);
}

.wrapper {
    max-width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

.table {
    width: 100%;
    min-width: 512px;
    table-layout: auto;
    border-collapse: collapse;
    white-space: nowrap;
    margin-block-end: 24px;
    overflow-x: auto;
}

.table td {
    border: 1px solid #323232;
    padding: 6px 8px;
}

.table th {
    padding: 6px 8px;
    background-color: #212121;
    border: 1px solid #393939;
}

.table tbody tr td:first-child {
    padding: 6px 8px;
    background-color: #212121;
    border: 1px solid #393939;
    font-size: 12px;
    font-weight: 500;
    vertical-align: top;
    letter-spacing: 0.1px;
}

.table tbody td:not(:first-child) {
    cursor: pointer;
}

.tableColumn {
    width: 200px;
    min-width: 100px;
}

.mealsList {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-block-end: 24px;
}

.today {
    padding: 4px;
    border-radius: 16px;
    color: #ededed;
    background-color: #d22f16;
}
